body{
    background-image: url('./images/Generic\ Felt\ Mat.jpeg');
    color: white;
    font-size: 14pt;
}

#container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#top-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    /* padding-left: 30px; */
    display: flex;
}

#house{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}
#container-house{
    /* display: flex; */
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}
#deck{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
    text-align: right;
}
#container-deck{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
    /* display: flex; */
}

#mid-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
}

#hit{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}

#stay{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}

#turn{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}

#bottom-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
}

.card{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}