body{
    background-image: url('./images/felt.jpeg');
    background-size: cover;
    color: white;
    font-size: 14pt;
}

#container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#top-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    /* padding-left: 30px; */
    display: flex;
}

#house{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}
#container-house{
    /* display: flex; */
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
}

#container-home{
    text-align: center;
}

#goHome{
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(210, 206, 206);
    text-decoration: none;
    color: black;
}

#turn{
    /* border: 3px solid white; */
    font-size: 16pt;
    padding: auto;
    margin-top: 20px;
}

#deck{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
    text-align: right;
}
#container-deck{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
    /* display: flex; */
}

#mid-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
}

button{
    font-size: 12pt;
    /* padding: 30px; */
}

#start{
    padding: 10px;
    margin: auto;
}

#hit{
    /* border: 3px solid white; */
    padding: 10px;
    margin: auto;
}

#stay{
    /* border: 3px solid white; */
    padding: 10px;
    margin: auto;
}

#bottom-container{
    /* border: 3px solid white; */
    padding: 20px;
    margin: 10px;
    display: flex;
}

.card{
    /* border: 3px solid white; */
    padding: auto;
    margin: auto;
    font-size: 16pt;
}

