body{
	font-family: arial;
	cursor: default;
	background-color:rgb(11,104,55)
}


.left {
	display: flex;
	flex-direction: column;
	
}

.btnRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.chipContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#bankAndBetContainer{
	display: flex;
	padding-top: 50px;
	min-height: 40px;
}

.chip{
    width: 45px;
	height: 45px;

}

.chip:hover {
	cursor: pointer;
}

.container{
	display: flex;
	height: 470px;
	padding: 20px;
	color: #fff;
}
.spinBtn {
	background-color: #d3b201;
	justify-content: flex-end;
	text-align: center;
	width: 50px;
	height: 25px;
	color: black


}
.spinBtn:hover{
	cursor: pointer;
}


#notification{
	position: absolute;
	width: 500px;
	height: 318px;
	background-color: #ad0205;
	z-index: 10;
	border: 8px solid #d3b201;
	border-radius: 12px;
	transition: 1s;
}



.nsWinBlock{
	display: inline-block;
	font-size: 21px;
	border-right: 1px solid;
	border-left: 1px solid;
	padding-left: 40px;
	padding-right: 40px;
}



#wheel {
	max-width: 350px;
	max-height: 350px;
	padding-right: 50px;
}
.chipDeck, #bankAndBetContainer{
	width: 310px;
	height:39px;
	padding: 3px 0;
	border: 1px solid;
	border-radius: 10px;
	box-shadow: inset -2px -4px rgb(0 0 0 / 20%);
}

#bankAndBetContainer{
	margin-top: -21px;
	min-width: 500px;
}


#bank, #bet, #resultBox, #winningBox, #betBox{
	display: inline-block;
	width: calc(50% - 28px);
    background-color: #000;
    font-size: 18px;
    margin-left: 7px;
    padding: 5px;
    border: 4px solid silver;
    border-radius: 7px;
    text-align: right;
}

#resultBox, #winningBox, #betBox{
	text-align: center;
	padding-left: 20px;
}


